<.flash_group flash={@flash} />
<div>
  <h1>Hvem er du?</h1>
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Från</th>
        <th>Til</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>🧑‍⚖️‍</td>
        <td>Lisa</td>
        <td>Elsa</td>
      </tr>
      <tr>
        <td>👩‍‍</td>
        <td>Linda</td>
        <td>Peter</td>
      </tr>
      <tr>
        <td>👨‍🔧</td>
        <td>Anders</td>
        <td>Karin</td>
      </tr>
    </tbody>
  </table>
</div>
