<div class="p-4 rounded-lg bg-orange-50">
  <div class="text-3xl text-center p-4 text-yellow-950">
    Din personlige kode er
  </div>
  <%= if not @verified? do %>
    <.waiting symbols={@symbols} />
  <% else %>
    <.success />
  <% end %>
</div>
